<nav class="navbar is-primary">
    <div id="navMenuTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item " href="/">
          Home
        </a>
        <a class="navbar-item " href="subject">
          Subjects
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="teacher">
            Teachers
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item " href="teacher/add">
              Add Teacher
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="student">
            Students
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item " href="student/add">
              Add Student
            </a>
          </div>
        </div>
      </div>
    </div>
</nav>
