<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Student</title>
  <% include ../partials/head %>
</head>
<body>
<section class="section">
    <div class="container">
  <h1 class="title">Add Teacher</h1>
  <br/>
  <a class="button is-primary is-outlined" href="/teacher">
      Show All Teachers
  </a>
  <br/>
  <br/>
  <form action="add" method="post">
      <div class="field">
          <label class="label">First Name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" name="first_name" type="text" value="">
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fa fa-check"></i>
            </span>
          </div>
        </div>
        <div class="field">
            <label class="label">Last Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" name="last_name" type="text" value="">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
          </div>
          <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" name="email" type="text" value="">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fa-check"></i>
                </span>
              </div>
            </div>
        <div class="control">
            <button class="button is-primary">Kirim</button>
        </div>
    
    <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select name="name">
                  <%dataSubjects.forEach((listSubjects)=>{%>
              <option value='<%= listSubjects.id %>'>
                  <%= listSubjects.subject_name %>
              </option>
              <%}, this)%>
            </select>
          </div>
        </div>
      </div>
      <br/>
    <input type="submit" value="Submit">
  </form>

</body>
</html>
