<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Student</title>
</head>
<body>
  <h1>Edit Student</h1>
  <br/>
  <form action="<%=getStudent.id%>" method="post">
      First name:
      <input type="text" name="first_name" value="<%=getStudent.first_name%>">
      <br><br>
      Last name:
      <input type="text" name="last_name" value="<%=getStudent.last_name%>"><br><br>
      Email:
      <input type="text" name="email" value="<%=getStudent.email%>">
      <br><br>
      <input type="submit" value="Submit">
    </form> 

</body>
</html>