<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <% include ../partials/head %>
</head>
<body>
<section class="section">
    <div class="container">
      <% include ../partials/menu%>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Welcome Home
          </h1>
          <h2 class="subtitle">
            It's yours
          </h2>
        </div>
      </div>
    </section>
</body>
</html>
