<!DOCTYPE html>
<html lang="en">
<head>
  <title>Subjects</title>
  <% include ../partials/head %>
</head>
<body>
<section class="section">
    <div class="container">
      <% include ../partials/menu%>
        <br/><br/>
   <h1 class="title">Subjects Data</h1>

  <br/><br/>
  <table  class="table ">
      <tr>
        <th>Id</th>
        <th>Subject Name</th>
        <th>Teachers Name</th>
        <th>Actions</th>
      </tr>
      <% dataSubjects.forEach((tampilanSubjects)=>{%>
      <tr>
        <td><%=tampilanSubjects.id%></td>
        <td><%=tampilanSubjects.subject_name%></td>
        <td>
          <ol>
            <%tampilanSubjects.Teachers.forEach((tampilNamaGuru)=>{%>
              <li>
                <%=tampilNamaGuru.first_name +' '+tampilNamaGuru.last_name%>
              </li>
            <%})%>
          </ol>
        </td>
        <td><a href="/subject/<%=tampilanSubjects.id%>/enrolledstudents">Enrolled Students</a></td>
      </tr>
    <%},this)%>
    </table>

</body>
</html>
