<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teacher</title>
  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      </style>
</head>
<body>
  <h1>Teacher</h1>
  <a href="/">Home</a>
  <a href="subject">Subjects</a>
  <a href="teacher">Teachers</a>
  <a href="student">Students</a>
  <br/><br/>
  <table>
      <tr>
        <th>Id</th>
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Email</th> 
      </tr>
      <%dataTeachers.forEach((tampilanTeachers)=>{%>
        <tr>
            <td><%=tampilanTeachers.id%></td>
            <td><%=tampilanTeachers.first_name%></td> 
            <td><%=tampilanTeachers.last_name%></td>
            <td><%=tampilanTeachers.email%></td> 
        </tr>
     <% }, this)%>
      
    </table>
</body>
</html>